<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/bike"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bike_white"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bicicreta"
        tools:targetApi="31">
        <activity
            android:name=".app.adapter.AdapterTroca"
            android:exported="false" />
        <activity
            android:name=".app.activity.TrocaPecaActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.CadastroServicoActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.PecasEServicosActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.ConfiguracoesActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.BicicletasActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.CadastroPecaActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.CadastroViagemActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.CadastroBicicletaActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.BemVindoActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.activity.ApresentacaoActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".app.activity.ViagensActivity"
            android:exported="false" />
    </application>

</manifest>